{% extends "home/index.html" %}

{% block content %}

<div class="container">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li class="active">Casa Matriz</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Ventas</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9-full panel panel-default panel-heading rslt-txt color-blue" >
                                    Asesores
                                </div>
                                <!-- Virginia Icaza-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Lic. Virginia Icaza
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    virginia.icaza@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8803-8968
                                </div>
                                <!-- Anielka Cajina-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Lic. Anielka Cajina
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    anielka.cajina@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8370-3939
                                </div>
                                <!-- Alfonso Guido-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Alfonso Guido
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    aguido@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8380-1027
                                </div>
                                <!-- Eddy Chevez-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Eddy Chevez
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    eddychevez@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8869-6017
                                </div>
                                <!-- Norlan Robleto-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Norlan Robleto
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    nrobleto@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8869-8579
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9-full panel panel-default panel-heading rslt-txt color-blue" >
                                    Telemercadeo
                                </div>
                                <!-- Belkys Balmaceda-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Belkys Balmaceda
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    mercadeo@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8694-9228
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9-full panel panel-default panel-heading rslt-txt color-blue" >
                                    Logistica
                                </div>
                                <!-- Leonel Tellez-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Ing. Leonel Tellez
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    ltellez@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8879-8738
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cartera y Cobro</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Encargado de Cartera y Cobro
                                </div>
                                <!-- Ulises Perez-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Lic. Ulises Perez
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    ulises.perez@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8862-0099
                                </div>
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Auxiliar
                                </div>
                                <!-- Mercedes Navarrete-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Sra. Mercedes Navarrete
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    cartera@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    2244-1501
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Gerencia</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Gerencia General
                                </div>
                                <!-- Eduardo Caldera-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Msc. Eduardo Caldera
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    caldera@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8883-5520
                                </div>
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Gerente Administravivo Financiero
                                </div>
                                <!-- Manuel Sanchez-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Lic. Manuel Sanchez
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    msanchez@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8806-5035
                                </div>
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Gerente de Ventas
                                </div>
                                <!-- Ricardo Lacayo-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Ing. Ricardo Lacayo
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    rlacayo@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8551-3721
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Sistema</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Encargado de Sistema y Soporte
                                </div>
                                <!-- Harvy Vanegas-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Ing. Harvy Vanegas
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    vanegas_harvy@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8285-4590
                                </div>
                                <div class="col-md9-full panel panel-default panel-heading rslt-txt color-blue">
                                    Desarrollo Profecional de Sistemas
                                </div>
                                <!-- Cesar Abel Ramirez-->
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    Ing. Cesar Abel Ramirez
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    cesarabel@johnmay.com.ni
                                </div>
                                <div class="col-xs-6 col-sm-4 panel panel-default panel-heading">
                                    8422-5412
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <form role="form">
                <div class="form-group">
                    <label for="Contacto">Contacto</label>
                    <input name="contacto" type="text" class="form-control" id="contacto" placeholder="Nombre y Apellido">
                </div>
                <div class="form-group">
                    <label for="Tel">Telefono</label>
                    <input name="tel" type="text" class="form-control" id="tel" placeholder="Telefono">
                </div>
                <div class="form-group">
                    <label for="Remitente">Dirección de correo electrónico</label>
                    <input name="remitente" type="email" class="form-control" id="Remitente" placeholder="Ingrese su correo">
                </div>
                <div class="form-group">
                    <label for="Destinatarios">Destinatarios</label>
                    <input name="destinatario" type="email" class="form-control" id="destinatarios" placeholder="Contacto de la Empresa">
                </div>
                <div class="form-group">
                    <label for="Comentarios"> Comenterios</label>
                    <textarea name="comentarios" class="form-control" rows="3"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Acepto los terminos
                    </label>
                </div>
                <a href="/error">Terminos legales</a>
                <br>
            </br>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
