{% extends "home/index.html" %}

{% block content %}

<div class="container">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Servicios</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><a href="#">Servicios de Taller</a></h4>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><a href="#">Instalacion de Beneficios Humedos</a></h4>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><a href="#">Demostracion de Equipos</a></h4>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><a href="#">Capacitaciones</a></h4>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><a href="#">Participacion en Ferias</a></h4>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><a href="#">Asesoria Tecnica</a></h4>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div align="center" class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/01.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/02.png">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="{{ STATIC_URL }}home/img/carousel/03.png">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
