p {
margin: 0 0 10px;
text-align: justify;
}

.modal-content {
min-height: 510px;
margin-top: 20px;
}
#content {
min-height: 300px;
}
.navbar-inverse {
background-color: #011A9B;
border-color: #030DFC;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover {
color: yellow;
}
#foot {
background-color: #4A048A;
color: white;
padding: 10px;
}
.panel-heading {
color: #070707;
}
.panel-heading:hover,
.panel-heading:focus {
background-color: blue;
color: white
}
#tabtext {
margin-left: 90px;
}
#accordion li {
font-size: 12px;
}
