<!DOCTYPE html>

<html lang="es-ES">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8" />
        <title>Facturación</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/facturacion/js/factura.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script type="text/javascript" href="/static/moment.min.js"></script>
        <script type="text/javascript" href="/static/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="/static/facturacion/css/style.css">
    </head>
    <body>
        <!--NavBar de menu de botones-->
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="submit" class="btn btn-default navbar-btn" id="id_guardar_factura">Grabar</button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="navbar-brand" href="/facturacion">Facturación</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!--<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="submit" class="btn btn-default navbar-btn" id="id_guardar_factura">
                        Grabar
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="navbar-brand" href="/facturacion">Facturación</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>-->
        <div class="container-fluid well" id="cuerpo">
            <div id="mensajes">
                {% for m in mensajes %}
                  <span class='alert-{{ m.1 }}'>{{ m.0 }}</span>
                {% endfor %}
            </div>
            <form method="POST" action="#id_guardar_factura">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_cliente_code">CLIENTE</label>
                            <input type="hidden" class="form-control" id="id_cliente_id" placeholder="CODIGO" readonly name="cliente_id">
                            <input type="text" class="form-control" id="id_cliente_code" placeholder="CODIGO" readonly name="cliente_code">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id_cliente_id">
                            <input type="text" class="form-control" id="id_cliente_nombre" placeholder="NOMBRE" name="cliente_nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_cliente_identificacion" placeholder="IDENTIFICACION" name="cliente_identificacion">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="id_cliente_email" placeholder="EMAIL" name="cliente_email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_cliente_telefono" placeholder="TELEFONO" name="cliente_telefono">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="id_cliente_direccion" placeholder="DIRECCION" name="cliente_direccion"></textarea>
                        </div>
                    </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_factura_numero">Numero</label>
                        <input type="input" class="form-control" id="id_factura_numero" name="factura_numero">
                    </div>
                    <label for="id_factura_fecha">Fecha</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" name="factura_fecha" id="id_factura_fecha">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <div class="form-group">
                      
                        <label for="id_factura_tipopago">Tipo de pago</label>
                        <select id="id_factura_tipopago" class="form-control" name="factura_tipopago">
                            {% for t in tipopagos %}
                            <option value={{ t.id }}>{{ t.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--<label for="retenciones">Aplicar Retencion</label>-->
                    <div class="form-group" id="retenciones">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="id_ir" name="factura_ir"> IR
                            </label>
                            <label>
                                <input type="checkbox"  id="id_al" name="factura_al"> Alcaldia
                            </label>
                            <label>
                                <input type="checkbox"  id="id_excento" name="excento"> Exento IVA
                            </label>
                        </div>
                        <div>
                            <div class="col-xs-12 col-md-3">
                                <input type="input" class="form-control" id="id_factura_ir" readonly name="factura_ir" value="0.0">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <input type="input" class="form-control" id="id_factura_al" readonly name="factura_al" value="0.0">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <input type="input" class="form-control" id="id_factura_costo" readonly name="factura_costo" value="0.0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_factura_comentario">Comentarios</label>
                        <textarea class="form-control" id="id_factura_comentario" name="factura_comentarios"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_factura_subtotal">Subtotal</label>
                        <input type="input" class="form-control" id="id_factura_subtotal" readonly name="factura_subtotal" value="0.0">
                    </div>
                    <div class="form-group">
                        <label for="id_factura_descuento">Descuento</label>
                        <input type="input" class="form-control" id="id_factura_descuento" readonly name="factura_descuento" value="0.0">
                    </div>
                    <div class="form-group">
                        <label for="id_factura_iva">Iva</label>
                        <input type="input" class="form-control" id="id_factura_iva" readonly name="factura_iva" value="0.0">
                    </div>
                    <div class="form-group">
                        <label for="id_factura_retencion">Monto Retenido</label>
                        <input type="input" class="form-control" id="id_factura_retencion" readonly name="factura_retencion" value="0.0">
                    </div>
                    <div class="form-group">
                        <label for="id_factura_total">Total</label>
                        <input type="input" class="form-control" id="id_factura_total" readonly name="factura_total" value="0.0">
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="id_buscar_prosductos_btn" class="btn btn-default" type="button">
                                        Buscar
                                    </button>
                                </span>
                                <input type="text" id="id_buscador_productos"
                                    class="form-control" placeholder="Buscar producto...">
                            </div>
                        </div>
                        <!--<input type="input" class="form-control"
                        id="id_buscador_productos" placeholder="BUSCAR PRODUCTO">-->
                    </div>
                </div>
                <div class="row table-responsive detalle-position">
                    <table id="productos" class="table table-bordered table-striped table-hover" name="productos">
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>DESCRIPCION</th>
                                <th>BODEGA</th>
                                <th>CANTIDAD</th>
                                <th>COSTO UNIT</th>
                                <th>PRECIO UNIT</th>
                                <th>DESCUENTO UNIT</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--<div class="row">
                    <button type="submit" class="btn btn-success" id="id_guardar_factura">Grabar</button>
                </div>-->
                <!-- Modal  -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" id="id_close_modal" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Exitencias en Bodega</h4>
                            </div>
                            <div class="modal-body">
                                <!-- Agregando la Fila de los datos del Producto-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <label labe="codigo">Codigo</label>
                                            <input type="input" class="form-control" readonly="" id="modal_codigo" value=0></input>
                                            <label label="descripcion">Descripcion</label>
                                            <input type="input" class="form-control" readonly="" id="modal_descripcion" value=0></input>
                                        </div>
                                    </div>
                                    <div class='col-md-6'>
                                        <div class="form-group">
                                            <label label_for="descuento">Descuento</label>
                                            <input type="input" class="form-control" readonly="" id="modal_descuento_pop" value=0></input>
                                            <label label_for="precio">Precio</label>
                                            <input type="input" class="form-control" readonly="" id="modal_precio_pop" value=0></input>
                                        </div>
                                    </div>
                                    <div class='col-md-6'>
                                        <div class="form-group">
                                            <label label_for="descuento_1">Aplicar Descuento</label>
                                            <input type="input" class="form-control" id="modal_descuento_1" value=0></input>
                                            <label label_for="precio_1">Aplicar Precio</label>
                                            <input type="input" class="form-control" id="modal_precio_1" value=0></input>
                                        </div>
                                    </div>
                                </div>
                                <!--End Fila de datos-->
                                <div class="row">
                                    <div class='col-md-12'>
                                        <div id="msg"></div>
                                        <table  id="exitencia" class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Bodega</th>
                                                    <th>Exitencias</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="form-group">
                                            <label for="cantidad">Cantidad</label>
                                            <input type="input" class="form-control" id="modal_cantidad"></input>
                                            <input type="hidden" class="form-control" id="modal_bodega" value="None"></input>
                                        </div>
                                    </div>
						        </div>
					        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="modal_delete">Borrar Producto</button>
                                <button type="button" class="btn btn-success" id="modal_ok">Agregar Producto</button>
                            </div>
				        </div>
			        </div>
		        </div>
                <!-- End Modal -->
            </form>
		</div>
    </body>
</html>
