<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/facturacion/js/factura.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <style>
            .btn-remove {
                text-align: center;
            }
            body {
                background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
            }
            .selected {
                background-color: lightblue !important;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid well">
            <div id="mensajes">
                {% for m in mensajes %}
                    <span class='alert-{{ m.1 }}'>{{ m.0 }}</span>
                {% endfor %}
            </div>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_cliente_code">CLIENTE</label>
                            <input type="hidden" class="form-control" id="id_cliente_id" placeholder="CODIGO" name="cliente_id">
                            <input type="text" class="form-control" id="id_cliente_code" placeholder="CODIGO" readonly name="cliente_code">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id_cliente_id">
                            <input type="text" class="form-control" id="id_cliente_nombre" placeholder="NOMBRE" name="cliente_nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_cliente_identificacion" placeholder="IDENTIFICACION" name="cliente_identificacion">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="id_cliente_email" placeholder="EMAIL" name="cliente_email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_cliente_telefono" placeholder="TELEFONO" name="cliente_telefono">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="id_cliente_direccion" placeholder="DIRECCION" name="cliente_direccion"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_factura_numero">Numero</label>
                            <input type="input" class="form-control" id="id_factura_numero" readonly name="factura_numero">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_fecha">Fecha</label>
                            <input type="text" class="form-control" id="id_factura_fecha" readonly>
                        </div>
                        <div class="form-group">
                            <label for="id_factura_tipopago">Tipo de pago</label>
                            <select id="id_factura_tipopago" class="form-control" name="factura_tipopago">
                                {% for t in tipopagos %}
                                <option value={{ t.id }}>{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="retenciones">Aplicar Retencion</label>
                        <div class="form-group" id="retenciones">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="id_ir" name="factura_ir"> IR
                                </label>
                                <label>
                                    <input type="checkbox"  id="id_al" name="factura_al"> Alcaldia
                                </label>
                                <label>
                                    <input type="checkbox"  id="id_excento" name="excento"> Exento IVA
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_factura_comentario">Comentarios</label>
                            <textarea class="form-control" id="id_factura_comentario" name="factura_comentarios"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_factura_subtotal">Subtotal</label>
                            <input type="input" class="form-control" id="id_factura_subtotal" readonly name="factura_subtotal" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_descuento">Descuento</label>
                            <input type="input" class="form-control" id="id_factura_descuento" readonly name="factura_descuento" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_iva">Iva</label>
                            <input type="input" class="form-control" id="id_factura_iva" readonly name="factura_iva" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_retencion">Monto Retenido</label>
                            <input type="input" class="form-control" id="id_factura_retencion" readonly name="factura_retencion" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_total">Total</label>
                            <input type="input" class="form-control" id="id_factura_total" readonly name="factura_total" value="0.0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="input" class="form-control" id="id_buscador_productos" placeholder="BUSCAR PRODUCTO">
                    </div>
                </div>
                <div class="row table-responsive">
                    <table id="productos" class="table table-bordered table-striped table-hover" name="productos">
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>DESCRIPCION</th>
                                <th>CANTIDAD</th>
                                <th>PRECIO UNITARIO</th>
                                <th>DESCUENTO UNITARIO</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Grabar</button>
                    <button type="button" class="btn btn-danger" value="Borrar" onclick="quitar()">Borrar</button>
                </div>
                <!-- Modal  -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Exitencias en Bodega</h4>
                                <!-- Agregando la Fila de los datos del Producto-->
                                <div class="row">
                                    <div class='col-md-6'>
                                        <div class="form-group">
                                            <label label_for="descuento">Descuento</label>
                                            <input type="input" class="form-control" readonly="" id="modal_descuento_pop" value=0></input>
                                            <label label_for="precio">Precio</label>
                                            <input type="input" class="form-control" readonly="" id="modal_precio_pop" value=0></input>
                                        </div>
                                    </div>
                                    <div class='col-md-6'>
                                    <div class="form-group">
                                            <label label_for="descuento_1">Aplicar Descuento</label>
                                            <input type="input" class="form-control" id="modal_descuento_1" value=0></input>
                                            <label label_for="precio_1">Aplicar Precio</label>
                                            <input type="input" class="form-control" id="modal_precio_1" value=0></input>
                                        </div>
                                    </div>
                                </div>
                                <!--End Fila de datos-->
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class='col-md-12'>
                                        <div id="msg"></div>
                                        <table  id="exitencia" class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Bodega</th>
                                                    <th>Exitencias</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="form-group">
                                            <label label_for="cantidad">Cantidad</label>
                                            <input type="input" class="form-control" id="modal_cantidad" value=1></input>
                                        <input type="hidden" id="modal_codigo" class="form-control" value="None"></input>
                                    <input type="hidden" id="modal_descripcion" class="form-control" value="None"></input>
                                <input type="hidden" id="modal_precio" class="form-control" value="None"></input>
                            <input type="hidden" id="modal_bodega" class="form-control" value="None"></input>
                            <input type="hidden" id="modal_existencia" class="form-control" value="None"></input>
                        <input type="hidden" id="modal_id" class="form-control" value="off"></input>
                </div>
            </div>
        </div>
        <div>Si los campos precio y descuento son distintos al de sistema la factura no caera a caja si a un apartado de autorizacion</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="validar_modal();">Ok</button>
    </div>
</div>
</div>
</div>
<!-- End Modal -->
</form>
</div>
</body>
</html>
