<!DOCTYPE html PUBLIC "Metropolitana Distribucion">
<html>
    <head>
        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <link href="/static/base/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/base/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="/static/base/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="well">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo de Documento</th>
                        <th>Numero</th>
                        <th>Existencia</th>
                        <th>Cantidad</th>
                        <th>Costo Unitario</th>
                        <th>Saldo</th>
                        <th>Costo Promedio</th>
                    <tr>
                </thead>
                <tbody>
                {% for d in kardex %}
                <tr>
                    <td>{{d.documento.fecha}}</td>
                    <td>{{d.documento.tipodoc.name}}</td>
                    <td>{{d.documento.numero}}</td>
                    <td>{{d.producto_existencia}}</td>
                    <td>{{d.producto_cantidad}}</td>
                    <td>{{d.producto_costo_unitario}}</td>
                    <td>{{d.producto_saldo}}</td>
                    <td>{{d.producto_costo_promedio}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>